In [1]:
import Bio
from Bio.KEGG import REST
from Bio.KEGG import Enzyme

import gzip
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pubchempy as pc

In [2]:
enzyme_fields = [method for method in dir(Enzyme.Record()) if not method.startswith('_')]
data_matrix = []

with gzip.open('../datasets/KEGG_enzymes_all_data.gz', 'rt') as file:
    for record in Enzyme.parse(file):
        data_matrix.append([getattr(record, field) for field in enzyme_fields])

In [3]:
enzyme_df = pd.DataFrame(data_matrix, columns=enzyme_fields)

In [4]:
enzyme_df.head()

,classname,cofactor,comment,dblinks,disease,effector,entry,genes,inhibitor,name,pathway,product,reaction,structures,substrate,sysname
0,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[A zinc protein. Acts on primary or secondary ...,"[(ExplorEnz - The Enzyme Database, [1.1.1.1]),...",[],[],1.1.1.1,"[(HSA, [124, 125, 126, 127, 128, 130, 131]), (...",[],"[alcohol dehydrogenase, aldehyde reductase, AD...","[(PATH, ec00010, Glycolysis / Gluconeogenesis)...","[aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...",[(1) a primary alcohol + NAD+ = an aldehyde + ...,[],"[primary alcohol [CPD:C00226], NAD+ [CPD:C0000...",[alcohol:NAD+ oxidoreductase]
1,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[A zinc protein. Some members of this group ox...,"[(ExplorEnz - The Enzyme Database, [1.1.1.2]),...",[],[],1.1.1.2,"[(HSA, [10327]), (PTR, [741418]), (PPS, [10099...",[],"[alcohol dehydrogenase (NADP+), aldehyde reduc...","[(PATH, ec00010, Glycolysis / Gluconeogenesis)...","[aldehyde [CPD:C00071], NADPH [CPD:C00005], H+...",[an alcohol + NADP+ = an aldehyde + NADPH + H+...,[],"[alcohol [CPD:C00069], NADP+ [CPD:C00006]]",[alcohol:NADP+ oxidoreductase]
2,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[The yeast enzyme acts most rapidly with NAD+;...,"[(ExplorEnz - The Enzyme Database, [1.1.1.3]),...",[],[],1.1.1.3,"[(NVE, [NEMVE_v1g225948]), (ATH, [AT1G31230, A...",[],"[homoserine dehydrogenase, HSDH, HSD]","[(PATH, ec00260, Glycine, serine and threonine...","[L-aspartate 4-semialdehyde [CPD:C00441], NADH...",[L-homoserine + NAD(P)+ = L-aspartate 4-semial...,[],"[L-homoserine [CPD:C00263], NAD+ [CPD:C00003],...",[L-homoserine:NAD(P)+ oxidoreductase]
3,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[Also converts diacetyl into acetoin with NADH...,"[(ExplorEnz - The Enzyme Database, [1.1.1.4]),...",[],[],1.1.1.4,"[(SCE, [YAL060W, YAL061W]), (KLA, [KLLA0_F0050...",[],"[(R,R)-butanediol dehydrogenase, butyleneglyco...","[(PATH, ec00650, Butanoate metabolism)]","[(R)-acetoin [CPD:C00810], NADH [CPD:C00004], ...","[(R,R)-butane-2,3-diol + NAD+ = (R)-acetoin + ...",[],"[(R,R)-butane-2,3-diol [CPD:C03044], NAD+ [CPD...","[(R,R)-butane-2,3-diol:NAD+ oxidoreductase]"
4,"[Oxidoreductases;, Acting on the CH-OH group o...",[],[Transferred entry: acetoin dehydrogenase. Now...,[],[],[],1.1.1.5,[],[],[Transferred to 1.1.1.303 and 1.1.1.304],[],[],[],[],[],[]

In [5]:
# example enzyme df search 
enzyme_df[enzyme_df.entry == '1.1.1.153']['reaction']

152    [(1) L-erythro-7,8-dihydrobiopterin + NADP+ = ...
Name: reaction, dtype: object

In [6]:
enzyme_df['reaction'][153]

['(S)-ureidoglycolate + NAD(P)+ = oxalureate + NAD(P)H + H+ [RN:R02935 R02936]']

In [7]:
# get promiscuous dataframe and make it compact 
promiscuous_df = enzyme_df[[True if len(rxn) > 1 else False for rxn in enzyme_df['reaction']]]
compact_promiscuous_df = promiscuous_df[['entry','reaction','product','substrate']]

#### check for reversible reactions

In [8]:
def get_reaction_list(df_with_reaction_column):
    """get the list of reaction from a dataframe that contains reaction column"""
    reaction_list = []
    for index,row in df_with_reaction_column.iterrows():
        for reaction in row['reaction']:
            reaction_split = reaction.split("[RN:")[-1]
            if reaction_split.startswith("R") and not reaction_split.startswith("RN"):
                for i in reaction_split[:-1].split(" "):
                    reaction_list.append(i)
    return reaction_list

In [9]:
promiscuous_reaction_list = get_reaction_list(compact_promiscuous_df)

In [10]:
len(promiscuous_reaction_list)

1302

In [11]:
def query_reversible_reaction(list_with_reaction):
    """get the list of reversible reaction"""
    reversible_reaction = []
    for reaction in reaction_list:
        reaction_file = REST.kegg_get(reaction).read()
        for i in reaction_file.rstrip().split("\n"):
            if i.startswith("EQUATION") and "<=>" in i:
                reversible_reaction.append(reaction)
    return reversible_reaction

In [12]:
#check whether query_reversible_reaction function works.
reaction_file = REST.kegg_get("R00709").read()
for line in reaction_file.rstrip().split("\n"):
    if line.startswith("EQUATION") and "<=>" in line:
        print ("R00709")
        print (line)

R00709
EQUATION    C00311 + C00003 <=> C00026 + C00011 + C00004 + C00080

In [13]:
#will take forever to run 


#reversible_reaction = query_reversible_reaction(promiscuous_reaction_list)

In [14]:
# it seem like all the reactions are reversible 
#len(reversible_reaction)

### append substrate molecules to product column

In [15]:
# difficult to use iterrows because of inconsistent index 
compact_promiscuous_df.head(10)

,entry,reaction,product,substrate
0,1.1.1.1,[(1) a primary alcohol + NAD+ = an aldehyde + ...,"[aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...","[primary alcohol [CPD:C00226], NAD+ [CPD:C0000..."
37,1.1.1.38,[(1) (S)-malate + NAD+ = pyruvate + CO2 + NADH...,"[pyruvate [CPD:C00022], CO2 [CPD:C00011], NADH...","[(S)-malate [CPD:C00149], NAD+ [CPD:C00003], o..."
39,1.1.1.40,[(1) (S)-malate + NADP+ = pyruvate + CO2 + NAD...,"[pyruvate [CPD:C00022], CO2 [CPD:C00011], NADP...","[(S)-malate [CPD:C00149], NADP+ [CPD:C00006], ..."
41,1.1.1.42,[isocitrate + NADP+ = 2-oxoglutarate + CO2 + N...,"[2-oxoglutarate [CPD:C00026], CO2 [CPD:C00011]...","[isocitrate [CPD:C00311], NADP+ [CPD:C00006], ..."
84,1.1.1.85,"[(2R,3S)-3-isopropylmalate + NAD+ = 4-methyl-2...","[4-methyl-2-oxopentanoate [CPD:C00233], CO2 [C...","[(2R,3S)-3-isopropylmalate [CPD:C04411], NAD+ ..."
109,1.1.1.110,[(1) (R)-3-(phenyl)lactate + NAD+ = 3-phenylpy...,"[3-phenylpyruvate, NADH [CPD:C00004], H+ [CPD:...","[(R)-3-(phenyl)lactate [CPD:C05607], NAD+ [CPD..."
152,1.1.1.153,"[(1) L-erythro-7,8-dihydrobiopterin + NADP+ = ...","[sepiapterin [CPD:C00835], NADPH [CPD:C00005],...","[L-erythro-7,8-dihydrobiopterin [CPD:C02953], ..."
186,1.1.1.187,[(1) GDP-alpha-D-rhamnose + NAD(P)+ = GDP-4-de...,"[GDP-4-dehydro-alpha-D-rhamnose [CPD:C01222], ...","[GDP-alpha-D-rhamnose [CPD:C03117], NAD+ [CPD:..."
202,1.1.1.203,[(1) beta-D-galacturonate + NAD+ = D-galactaro...,"[D-galactaro-1,5-lactone [CPD:C20889], NADH [C...","[beta-D-galacturonate, NAD+ [CPD:C00003], beta..."
236,1.1.1.237,[(1) (R)-3-(4-hydroxyphenyl)lactate + NAD(P)+ ...,"[3-(4-hydroxyphenyl)pyruvate [CPD:C01179], NAD...","[(R)-3-(4-hydroxyphenyl)lactate [CPD:C03964], ..."

In [16]:
rowindex = np.arange(0,len(compact_promiscuous_df))
compact_promiscuous_df_index = compact_promiscuous_df.set_index(rowindex)

In [17]:
def combine_substrate_product(df_with_ordered_index):
    """append substrates to product column. should not be run multiple times. 
    it will append substrates multiple times"""
    newdf = df_with_ordered_index
    for index,row in df_with_ordered_index.iterrows():
        productlist = row['product']
        substratelist = row['substrate']
        newdf.iloc[index,2] = productlist + substratelist 
    return newdf

In [18]:
# do not run this multiple times! 
combined_df = combine_substrate_product(compact_promiscuous_df_index)

In [19]:
# check whether it is added multiple times
# if appended multiple times, need to rerun cells from the very beginning 
combined_df.iloc[0,2]

['aldehyde [CPD:C00071]',
 'NADH [CPD:C00004]',
 'H+ [CPD:C00080]',
 'ketone [CPD:C01450]',
 'primary alcohol [CPD:C00226]',
 'NAD+ [CPD:C00003]',
 'secondary alcohol [CPD:C01612]']

In [20]:
compact_combined_df = combined_df[['entry','product']]

In [21]:
compact_combined_df.head(10)

       entry                                            product
0    1.1.1.1  [aldehyde [CPD:C00071], NADH [CPD:C00004], H+ ...
1   1.1.1.38  [pyruvate [CPD:C00022], CO2 [CPD:C00011], NADH...
2   1.1.1.40  [pyruvate [CPD:C00022], CO2 [CPD:C00011], NADP...
3   1.1.1.42  [2-oxoglutarate [CPD:C00026], CO2 [CPD:C00011]...
4   1.1.1.85  [4-methyl-2-oxopentanoate [CPD:C00233], CO2 [C...
5  1.1.1.110  [3-phenylpyruvate, NADH [CPD:C00004], H+ [CPD:...
6  1.1.1.153  [sepiapterin [CPD:C00835], NADPH [CPD:C00005],...
7  1.1.1.187  [GDP-4-dehydro-alpha-D-rhamnose [CPD:C01222], ...
8  1.1.1.203  [D-galactaro-1,5-lactone [CPD:C20889], NADH [C...
9  1.1.1.237  [3-(4-hydroxyphenyl)pyruvate [CPD:C01179], NAD...

In [22]:
# save substrate and product combined dataframe to csv 
# might remove this dataframe from the git repo soon 
# substrate_to_product_promiscuous_df.to_csv("../datasets/substrate_product_combined_promiscuous.csv")

### cofactor removal

In [23]:
len(compact_combined_df)

549

In [24]:
# test text splicing 
test='aldehyde [CPD:C00071]'
test[-7:-1]

'C00071'

In [25]:
def get_cofactor_list(cofactor_df,CPDcolumn):
    cofactor_list = [cofactor[4:10] for cofactor in cofactor_df[CPDcolumn]]
    return cofactor_list

In [26]:
cofactor_df=pd.read_csv("../datasets/cofactor_list.csv")
cofactor_df.head(10)

   Unnamed: 0         CPD                                        description
0           1  cpd:C00001                                         H2O; Water
1           2  cpd:C00002                     ATP; Adenosine 5'-triphosphate
2           3  cpd:C00003  NAD+; NAD; Nicotinamide adenine dinucleotide; ...
3           4  cpd:C00004  NADH; DPNH; Reduced nicotinamide adenine dinuc...
4           5  cpd:C00005  NADPH; TPNH; Reduced nicotinamide adenine dinu...
5           6  cpd:C00006  NADP+; NADP; Nicotinamide adenine dinucleotide...
6           7  cpd:C00007                                         Oxygen; O2
7           8  cpd:C00008                      ADP; Adenosine 5'-diphosphate
8           9  cpd:C00009  Orthophosphate; Phosphate; Phosphoric acid; Or...
9          10  cpd:C00010                            CoA; Coenzyme A; CoA-SH

In [27]:
cofactor_list = get_cofactor_list(cofactor_df,"CPD")
cofactor_list

['C00001',
 'C00002',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00011',
 'C00012',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00017',
 'C00018',
 'C00019',
 'C00020',
 'C00021',
 'C00023',
 'C00027',
 'C00028',
 'C00030',
 'C00032',
 'C00034',
 'C00050',
 'C00061',
 'C00070',
 'C00080',
 'C00255',
 'C01007',
 'C01352',
 'C01382',
 'C02745',
 'C02869']

In [28]:
def get_cpd(compound_full):
    "when full name of compound inserted, return cpd id"
    cpd = compound_full[-7:-1]
    return cpd

In [29]:
def rm_cofactor_only_cpd(df,compound_columnname,cofactor_list):
    newdf = df.drop(["product"],axis=1)
    cleaned_compound_column = []
    for index,row in df.iterrows():
        cpd_compound_list =[]
        for compound in row[compound_columnname]:
            if "CPD" in compound:
                onlycpd = get_cpd(compound)
                if onlycpd not in cofactor_list:
                    cpd_compound_list.append(onlycpd)
                else:
                    pass
        if len(cpd_compound_list)==0:
            cleaned_compound_column.append("NA")
        else: 
            cleaned_compound_column.append(cpd_compound_list)
    newdf['product'] = cleaned_compound_column
    return newdf

In [30]:
cleaned_df_productinList = rm_cofactor_only_cpd(compact_combined_df,'product',cofactor_list)

In [31]:
#cleaned_promiscuous_enzyme_df.to_csv("../datasets/cleaned_promiscous_enzyme_df.csv", header=['entry','product'])

In [32]:
#remove enzymes with no products 
noNAenzyme = cleaned_df_productinList.loc[cleaned_df_productinList['product']!='NA']
len(noNAenzyme)

521

### format the dataframe to be easily applicable for pubchem ID search and SMILES string search

In [33]:
noNAenzyme.rename(columns={'product':'products'}, inplace=True)
noNAenzyme

C:\Users\ellie\Miniconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

         entry                                           products
0      1.1.1.1                   [C00071, C01450, C00226, C01612]
1     1.1.1.38                           [C00022, C00149, C00036]
2     1.1.1.40                           [C00022, C00149, C00036]
3     1.1.1.42                   [C00026, C05379, C00311, C05379]
4     1.1.1.85                   [C00233, C04236, C04411, C04236]
5    1.1.1.110           [C01179, C00331, C05607, C03964, C22006]
6    1.1.1.153                   [C00835, C03684, C02953, C00272]
7    1.1.1.187                           [C01222, C03117, C02977]
8    1.1.1.203                                   [C20889, C20890]
9    1.1.1.237                   [C01179, C04045, C03964, C22038]
10   1.1.1.276                   [C06735, C11822, C00065, C11822]
11   1.1.1.282                   [C00944, C02637, C00296, C00493]
12   1.1.1.286                   [C00026, C00322, C00311, C05662]
13   1.1.1.287                           [C00310, C00309, C01904]
14   1.1.1.297           [C18019, C11937, C18020, C07276, C19082]
15   1.1.1.324   [C17622, C20222, C20223, C17621, C20222, C20223]
16   1.1.1.325                   [C00835, C03684, C20263, C20264]
17   1.1.1.352                           [C20502, C20500, C20501]
18   1.1.1.353   [C20503, C20505, C20507, C20504, C20506, C20508]
19   1.1.1.360                   [C00198, C02669, C00031, C00124]
20   1.1.1.372                           [C02426, C00577, C00116]
21   1.1.1.381                   [C01888, C03508, C05519, C03508]
22   1.1.1.387                   [C06735, C11822, C00065, C11822]
23   1.1.1.394                                           [C21140]
24   1.1.1.396                           [C18155, C18153, C18154]
25   1.1.1.398                                           [C21374]
26   1.1.1.408                   [C00111, C21610, C21585, C21610]
27   1.1.1.409                                   [C00111, C03393]
28     1.1.3.8                   [C00072, C03289, C01040, C03289]
29    1.1.3.17                   [C00719, C00576, C00114, C00576]
..         ...                                                ...
518    5.4.3.3                   [C01186, C05161, C01142, C00739]
519   5.5.1.24  [C15882, C15883, C20737, C20738, C14151, C0248...
520   5.5.1.27                           [C00679, C20896, C21095]
521    6.1.2.2  [C18001, C20684, C20699, C00397, C00169, C2068...
522    6.2.1.7                                   [C01794, C00695]
523   6.2.1.39                                           [C00025]
524   6.2.1.49                                           [C00638]
525   6.2.1.50                           [C21497, C00156, C21497]
526   6.2.1.51                                   [C21446, C21448]
527   6.2.1.53                           [C20656, C00148, C20656]
528   6.2.1.54                                           [C00133]
529   6.2.1.55                           [C21901, C21900, C21901]
530    6.3.1.9           [C05730, C02090, C00051, C00315, C05730]
531   6.3.1.10           [C06509, C06508, C06507, C04122, C03194]
532   6.3.1.20           [C16237, C16238, C16241, C16240, C16238]
533   6.3.2.47  [C20962, C20963, C20964, C20965, C20966, C0018...
534    6.3.4.2                   [C00063, C00025, C00075, C00064]
535   6.3.4.16   [C00169, C20969, C01563, C00288, C20969, C01563]
536    6.3.5.2                   [C00144, C00025, C00655, C00064]
537    6.3.5.4                   [C00152, C00025, C00049, C00064]
538    6.3.5.5  [C00025, C00169, C20969, C01563, C00064, C0028...
539   6.3.5.11   [C06504, C00025, C19724, C05773, C00064, C19724]
540    6.5.1.1                                           [C00039]
541    6.5.1.2                                           [C00039]
542    6.5.1.3                                           [C00046]
544    6.5.1.5                                   [C00144, C00044]
545    6.5.1.6                                           [C00039]
546    6.5.1.7                           [C00039, C00144, C00044]
547    6.5.1.8                           [C00046, C00144, C00044]
548    7.1.1.7                   [C00399, C05359, C00390, C05359]

[521 rows x 2 columns]

In [34]:
def itemlist_eachrow(df,oldcolumnname,newcolumnname,enzymecolumn):
    newdf = df[oldcolumnname].\
    apply(pd.Series).\
    merge(df, left_index=True, right_index=True).\
    drop([oldcolumnname],axis=1).\
    melt(id_vars=[enzymecolumn],value_name=newcolumnname).\
    sort_values(by=[enzymecolumn]).\
    dropna().\
    drop(columns=["variable"])
    return newdf

In [35]:
expanded_noNAenzyme = itemlist_eachrow(noNAenzyme,"products","product","entry")

In [36]:
#dropped duplicates within product column 

expanded_noNAenzyme.drop_duplicates(['entry','product'],keep='first',inplace=True)

In [37]:
expanded_noNAenzyme

          entry product
0       1.1.1.1  C00071
1042    1.1.1.1  C00226
521     1.1.1.1  C01450
1563    1.1.1.1  C01612
1568  1.1.1.110  C03964
526   1.1.1.110  C00331
5     1.1.1.110  C01179
2089  1.1.1.110  C22006
1047  1.1.1.110  C05607
527   1.1.1.153  C03684
6     1.1.1.153  C00835
1048  1.1.1.153  C02953
1569  1.1.1.153  C00272
1049  1.1.1.187  C02977
528   1.1.1.187  C03117
7     1.1.1.187  C01222
8     1.1.1.203  C20889
529   1.1.1.203  C20890
530   1.1.1.237  C04045
1572  1.1.1.237  C22038
1051  1.1.1.237  C03964
9     1.1.1.237  C01179
1573  1.1.1.276  C11822
1052  1.1.1.276  C00065
10    1.1.1.276  C06735
1574  1.1.1.282  C00493
1053  1.1.1.282  C00296
532   1.1.1.282  C02637
11    1.1.1.282  C00944
12    1.1.1.286  C00026
...         ...     ...
512    6.3.5.11  C06504
509     6.3.5.2  C00144
1030    6.3.5.2  C00025
1551    6.3.5.2  C00655
2072    6.3.5.2  C00064
1552    6.3.5.4  C00049
510     6.3.5.4  C00152
1031    6.3.5.4  C00025
2073    6.3.5.4  C00064
3116    6.3.5.5  C00288
2074    6.3.5.5  C01563
511     6.3.5.5  C00025
1032    6.3.5.5  C00169
1553    6.3.5.5  C20969
2595    6.3.5.5  C00064
513     6.5.1.1  C00039
514     6.5.1.2  C00039
515     6.5.1.3  C00046
1037    6.5.1.5  C00044
516     6.5.1.5  C00144
517     6.5.1.6  C00039
518     6.5.1.7  C00039
1560    6.5.1.7  C00044
1039    6.5.1.7  C00144
1561    6.5.1.8  C00044
1040    6.5.1.8  C00144
519     6.5.1.8  C00046
2083    7.1.1.7  C05359
1562    7.1.1.7  C00390
520     7.1.1.7  C00399

[2144 rows x 2 columns]

In [38]:
len(expanded_noNAenzyme)

2144

### pubchemID search

In [39]:
import re
from Bio.KEGG import Compound

In [40]:
def compound_records_to_df(file_path):
    """
    Input should be a filepath string pointing to a gzipped text file of KEGG enzyme records.
    Function parses all records using Biopython.Bio.KEGG.Compound parser, and returns a pandas dataframe.
    """
    compound_fields = [method for method in dir(Compound.Record()) if not method.startswith('_')]
    data_matrix = []

    with gzip.open(file_path, 'rt') as file:
        for record in Compound.parse(file):
            data_matrix.append([getattr(record, field) for field in compound_fields])
    
    compound_df = pd.DataFrame(data_matrix, columns=compound_fields)
    return compound_df

In [41]:
compound_df = compound_records_to_df('../datasets/KEGG_compound_db_entries.gz')

In [42]:
def extract_PubChem_id(field):
    """
    This function uses regular expressions to extract the PubChem compound IDs from a field in a record
    """

    regex = "'PubChem', \[\'(\d+)\'\]\)" # matches "'PubChem', ['" characters exactly, then captures any number of digits (\d+), before another literal "']" character match
    ids = re.findall(regex, str(field), re.IGNORECASE)
    if len(ids) > 0:
        pubchem_id = ids[0]
    else:
        pubchem_id = ''
    
    return pubchem_id

In [43]:
PubChemID_list = []

for _, row in compound_df.iterrows():
    pubchem_id = extract_PubChem_id(row['dblinks'])
    PubChemID_list.append(pubchem_id)
    
compound_df['PubChem'] = PubChemID_list
compound_df.head(10)

,dblinks,entry,enzyme,formula,mass,name,pathway,structures,PubChem
0,"[(CAS, [7732-18-5]), (PubChem, [3303]), (ChEBI...",C00001,"[1.1.1.1, 1.1.1.22, 1.1.1.23, 1.1.1.115, 1.1.1...",H2O,,"[H2O, Water]","[(PATH, map00190, Oxidative phosphorylation), ...",[],3303
1,"[(CAS, [56-65-5]), (PubChem, [3304]), (ChEBI, ...",C00002,"[1.1.98.6, 1.2.1.30, 1.2.1.95, 1.2.1.101, 1.3....",C10H16N5O13P3,,"[ATP, Adenosine 5'-triphosphate]","[(PATH, map00190, Oxidative phosphorylation), ...",[],3304
2,"[(CAS, [53-84-9]), (PubChem, [3305]), (ChEBI, ...",C00003,"[1.1.1.1, 1.1.1.3, 1.1.1.4, 1.1.1.6, 1.1.1.7, ...",C21H28N7O14P2,,"[NAD+, NAD, Nicotinamide adenine dinucleotide,...","[(PATH, map00190, Oxidative phosphorylation), ...",[],3305
3,"[(CAS, [58-68-4]), (PubChem, [3306]), (ChEBI, ...",C00004,"[1.1.1.1, 1.1.1.3, 1.1.1.4, 1.1.1.6, 1.1.1.7, ...",C21H29N7O14P2,,"[NADH, DPNH, Reduced nicotinamide adenine dinu...","[(PATH, map00190, Oxidative phosphorylation), ...",[],3306
4,"[(CAS, [2646-71-1]), (PubChem, [3307]), (ChEBI...",C00005,"[1.1.1.1, 1.1.1.2, 1.1.1.3, 1.1.1.10, 1.1.1.19...",C21H30N7O17P3,,"[NADPH, TPNH, Reduced nicotinamide adenine din...","[(PATH, map00195, Photosynthesis), (PATH, map0...",[],3307
5,"[(CAS, [53-59-8]), (PubChem, [3308]), (ChEBI, ...",C00006,"[1.1.1.1, 1.1.1.2, 1.1.1.3, 1.1.1.10, 1.1.1.19...",C21H29N7O17P3,,"[NADP+, NADP, Nicotinamide adenine dinucleotid...","[(PATH, map00195, Photosynthesis), (PATH, map0...",[],3308
6,"[(CAS, [7782-44-7]), (PubChem, [3309]), (ChEBI...",C00007,"[1.1.1.170, 1.1.1.270, 1.1.3.2, 1.1.3.4, 1.1.3...",O2,,"[Oxygen, O2]","[(PATH, map00190, Oxidative phosphorylation), ...",[],3309
7,"[(CAS, [58-64-0]), (PubChem, [3310]), (ChEBI, ...",C00008,"[1.3.7.7, 1.3.7.8, 1.3.7.14, 1.3.7.15, 1.17.4....",C10H15N5O10P2,,"[ADP, Adenosine 5'-diphosphate]","[(PATH, map00190, Oxidative phosphorylation), ...",[],3310
8,"[(CAS, [7664-38-2]), (PubChem, [3311]), (ChEBI...",C00009,"[1.2.1.11, 1.2.1.12, 1.2.1.13, 1.2.1.38, 1.2.1...",H3PO4,,"[Orthophosphate, Phosphate, Phosphoric acid, O...","[(PATH, map00190, Oxidative phosphorylation), ...",[],3311
9,"[(CAS, [85-61-0]), (PubChem, [3312]), (ChEBI, ...",C00010,"[1.1.1.34, 1.1.1.88, 1.1.1.-, 1.2.1.10, 1.2.1....",C21H36N7O16P3S,,"[CoA, Coenzyme A, CoA-SH]","[(PATH, map00071, Fatty acid degradation), (PA...",[],3312

In [44]:
joint_enzyme_compound_df = expanded_noNAenzyme.merge(compound_df, left_on='product', right_on='entry')
joint_enzyme_compound_df.head(10)

,entry_x,product,dblinks,entry_y,enzyme,formula,mass,name,pathway,structures,PubChem
0,1.1.1.1,C00071,"[(PubChem, [3371]), (ChEBI, [17478])]",C00071,"[1.1.1.1, 1.1.1.2, 1.1.1.71, 1.1.2.7, 1.1.3.13...",CHOR,,"[Aldehyde, RCHO]","[(PATH, map00071, Fatty acid degradation)]",[],3371
1,3.3.2.2,C00071,"[(PubChem, [3371]), (ChEBI, [17478])]",C00071,"[1.1.1.1, 1.1.1.2, 1.1.1.71, 1.1.2.7, 1.1.3.13...",CHOR,,"[Aldehyde, RCHO]","[(PATH, map00071, Fatty acid degradation)]",[],3371
2,1.1.1.1,C00226,"[(PubChem, [3526]), (ChEBI, [15734])]",C00226,"[1.1.1.1, 1.1.1.2, 1.1.1.71, 1.1.2.7, 1.1.3.13...",CH3OR,,"[Primary alcohol, 1-Alcohol]","[(PATH, map00071, Fatty acid degradation), (PA...",[],3526
3,1.1.1.1,C01450,"[(PubChem, [4627]), (ChEBI, [17087])]",C01450,"[1.1.1.1, 1.1.1.184, 1.1.3.18, 1.1.98.5, 1.7.3...",COR2,,"[Ketone, R-CO-R']","[(PATH, map00073, Cutin, suberine and wax bios...",[],4627
4,1.1.1.1,C01612,"[(PubChem, [4764]), (ChEBI, [35681])]",C01612,"[1.1.1.1, 1.1.1.184, 1.1.3.18, 1.1.98.5]",CH2OR2,,"[Secondary alcohol, R-CHOH-R']","[(PATH, map00073, Cutin, suberine and wax bios...",[],4764
5,1.1.1.110,C03964,"[(PubChem, [6685]), (ChEBI, [10980, 16003]), (...",C03964,"[1.1.1.110, 1.1.1.237, 4.2.1.-]",C9H10O4,,[(R)-3-(4-Hydroxyphenyl)lactate],"[(PATH, map00130, Ubiquinone and other terpeno...",[],6685
6,1.1.1.237,C03964,"[(PubChem, [6685]), (ChEBI, [10980, 16003]), (...",C03964,"[1.1.1.110, 1.1.1.237, 4.2.1.-]",C9H10O4,,[(R)-3-(4-Hydroxyphenyl)lactate],"[(PATH, map00130, Ubiquinone and other terpeno...",[],6685
7,1.1.1.110,C00331,"[(CAS, [392-12-1]), (PubChem, [3625]), (ChEBI,...",C00331,"[1.1.1.110, 1.2.7.8, 1.4.1.19, 1.4.3.2, 1.14.1...",C11H9NO3,,"[Indolepyruvate, Indolepyruvic acid, (Indol-3-...","[(PATH, map00380, Tryptophan metabolism), (PAT...",[],3625
8,1.1.1.110,C01179,"[(CAS, [156-39-8]), (PubChem, [4406]), (ChEBI,...",C01179,"[1.1.1.110, 1.1.1.237, 1.2.3.13, 1.3.1.12, 1.3...",C9H8O4,,"[3-(4-Hydroxyphenyl)pyruvate, 4-Hydroxyphenylp...","[(PATH, map00130, Ubiquinone and other terpeno...",[],4406
9,1.1.1.237,C01179,"[(CAS, [156-39-8]), (PubChem, [4406]), (ChEBI,...",C01179,"[1.1.1.110, 1.1.1.237, 1.2.3.13, 1.3.1.12, 1.3...",C9H8O4,,"[3-(4-Hydroxyphenyl)pyruvate, 4-Hydroxyphenylp...","[(PATH, map00130, Ubiquinone and other terpeno...",[],4406

In [45]:
compact_joint_enzyme_compound_df = joint_enzyme_compound_df[['entry_x','product','PubChem']].\
                                   sort_values(by=['entry_x'])
compact_joint_enzyme_compound_df.head(10)

      entry_x product PubChem
0     1.1.1.1  C00071    3371
2     1.1.1.1  C00226    3526
3     1.1.1.1  C01450    4627
4     1.1.1.1  C01612    4764
5   1.1.1.110  C03964    6685
7   1.1.1.110  C00331    3625
8   1.1.1.110  C01179    4406
10  1.1.1.110  C22006
11  1.1.1.110  C05607    7930
16  1.1.1.153  C02953    5871

In [46]:
print (len(compact_joint_enzyme_compound_df))

2144

In [47]:
#rename column names 
compact_joint_enzyme_compound_df.rename(columns={'entry_x':'entry','product':'KEGG'},inplace=True)
compact_joint_enzyme_compound_df = compact_joint_enzyme_compound_df.loc[compact_joint_enzyme_compound_df['PubChem']!='']
len(compact_joint_enzyme_compound_df)

2068

In [48]:
compact_joint_enzyme_compound_df.columns

Index(['entry', 'KEGG', 'PubChem'], dtype='object')

In [54]:
shortened_df = compact_joint_enzyme_compound_df.copy()
short_50 = shortened_df.head(50)

def sid_to_smiles(sid):
    """Takes an SID and prints the associated SMILES string."""

    substance = pc.Substance.from_sid(sid)
    cid = substance.standardized_cid
    compound = pc.get_compounds(cid)[0]
        
    
    return compound.isomeric_smiles


def kegg_df_to_smiles(kegg_df):
    """Takes a pandas dataframe that includes a column of SIDs, gets the isomeric SMILES for each SID, stores them as a list, then adds a SMILES column."""

    res = [] 
    unsuccessful_list = []
    
    for i in range(len(kegg_df)):
        sid = kegg_df.iloc[i, 2] #CHANGE THIS 1 TO THE PROPER COLUMN NUMBER FOR SID 
        try:
            result = sid_to_smiles(sid)
            res.append(result)
        except:
            res.append('none')
            unsuccessful_list.append(sid)
            pass
        
    kegg_df.insert(3, column='SMILES', value=res) #Change this 2 to the number where the smiles column should be
    kegg_df.to_csv(r'../datasets/cleaned_kegg_with_smiles')
    
    return kegg_df, unsuccessful_list

In [58]:
def sid_to_smiles(sid):
    """Takes an SID and prints the associated SMILES string."""

    substance = pc.Substance.from_sid(sid)
    cid = substance.standardized_cid
    compound = pc.get_compounds(cid)[0]
        
    
    return compound.isomeric_smiles, cid


def kegg_df_to_smiles(kegg_df):
    """Takes a pandas dataframe that includes a column of SIDs, gets the isomeric SMILES for each SID, stores them as a list, then adds a SMILES column."""

    res = [] 
    cid_list = []
    unsuccessful_list = []
    
    for i in range(len(kegg_df)):
        sid = kegg_df.iloc[i, 2] #CHANGE THIS 1 TO THE PROPER COLUMN NUMBER FOR SID
        try:
            smile_result = sid_to_smiles(sid)[0]
            res.append(smile_result)
            cid_result = sid_to_smiles(sid)[1]
            cid_list.append(cid_result)
        except:
            res.append('none')
            cid_list.append('none')
            unsuccessful_list.append(sid)
            pass
        
    kegg_df.insert(3, column='CID', value=cid_list)    
    kegg_df.insert(4, column='SMILES', value=res) #Change this 2 to the number where the smiles column should be
    kegg_df.to_csv(r'../datasets/df_cleaned_kegg_with_smiles.csv')
    
    return kegg_df, unsuccessful_list

In [59]:
kegg_df_to_smiles(compact_joint_enzyme_compound_df)

(          entry    KEGG    PubChem        CID  \
 0       1.1.1.1  C00071       3371       none
 2       1.1.1.1  C00226       3526       none
 3       1.1.1.1  C01450       4627       none
 4       1.1.1.1  C01612       4764       none
 5     1.1.1.110  C03964       6685     440177
 7     1.1.1.110  C00331       3625        803
 8     1.1.1.110  C01179       4406        979
 11    1.1.1.110  C05607       7930     643327
 16    1.1.1.153  C02953       5871  135398687
 14    1.1.1.153  C00835       4093  135398579
 12    1.1.1.153  C03684       6459  135398695
 17    1.1.1.153  C00272       3570  135398654
 18    1.1.1.187  C02977       5888  135398688
 19    1.1.1.187  C03117       6011  135398578
 20    1.1.1.187  C01222       4444  135398621
 23    1.1.1.203  C20890  254741353   46926211
 22    1.1.1.203  C20889  254741352   53321658
 6     1.1.1.237  C03964       6685     440177
 9     1.1.1.237  C01179       4406        979
 24    1.1.1.237  C04045       6746     165198
 33    1.1.1.276  C06735       8957        363
 26    1.1.1.276  C11822      13986     443424
 28    1.1.1.276  C00065       3365       5951
 36    1.1.1.282  C00296       3590       6508
 37    1.1.1.282  C02637       5617     439774
 38    1.1.1.282  C00944       4196     439351
 35    1.1.1.282  C00493       3776       8742
 39    1.1.1.286  C00026       3328         51
 58    1.1.1.286  C05662       7972    5460287
 60    1.1.1.286  C00311       3605       1198
 ...         ...     ...        ...        ...
 1149   6.3.5.11  C00064       3364       5961
 1728    6.3.5.2  C00144       3444  135398631
 1150    6.3.5.2  C00064       3364       5961
 1166    6.3.5.2  C00025       3327      33032
 1946    6.3.5.2  C00655       3925      73323
 1151    6.3.5.4  C00064       3364       5961
 1874    6.3.5.4  C00152       3452       6267
 1871    6.3.5.4  C00049       3351       5960
 1167    6.3.5.4  C00025       3327      33032
 2137    6.3.5.5  C20969  254741428     195870
 1692    6.3.5.5  C00169       3469        278
 1688    6.3.5.5  C01563       4721        277
 1152    6.3.5.5  C00064       3364       5961
 1683    6.3.5.5  C00288       3583        769
 1168    6.3.5.5  C00025       3327      33032
 1379    6.5.1.1  C00039       3341       none
 1380    6.5.1.2  C00039       3341       none
 2072    6.5.1.3  C00046       3348       none
 1716    6.5.1.5  C00044       3346  135398633
 1729    6.5.1.5  C00144       3444  135398631
 1381    6.5.1.6  C00039       3341       none
 1730    6.5.1.7  C00144       3444  135398631
 1717    6.5.1.7  C00044       3346  135398633
 1382    6.5.1.7  C00039       3341       none
 1718    6.5.1.8  C00044       3346  135398633
 2073    6.5.1.8  C00046       3348       none
 1731    6.5.1.8  C00144       3444  135398631
 2142    7.1.1.7  C00390       3680    5280344
 2141    7.1.1.7  C05359       7736       none
 2143    7.1.1.7  C00399       3689    5280346

                                                  SMILES
 0                                                  none
 2                                                  none
 3                                                  none
 4                                                  none
 5                         C1=CC(=CC=C1C[C@H](C(=O)O)O)O
 7                     C1=CC=C2C(=C1)C(=CN2)CC(=O)C(=O)O
 8                            C1=CC(=CC=C1CC(=O)C(=O)O)O
 11                         C1=CC=C(C=C1)C[C@H](C(=O)O)O
 16          C[C@@H]([C@@H](C1=NC2=C(NC1)N=C(NC2=O)N)O)O
 14              C[C@@H](C(=O)C1=NC2=C(NC1)N=C(NC2=O)N)O
 12                 CC(=O)C(=O)C1CNC2=C(N1)C(=O)NC(=N2)N
 17     C[C@@H]([C@@H]([C@H]1CNC2=C(N1)C(=O)NC(=N2)N)O)O
 18    C[C@@H]1[C@@H]([C@@H]([C@@H]([C@H](O1)OP(=O)(O...
 19    C[C@@H]1[C@H]([C@@H]([C@@H]([C@H](O1)OP(=O)(O)...
 20    C[C@@H]1C(=O)[C@@H]([C@@H]([C@H](O1)OP(=O)(O)O...
 23       [C@@H]1([C@@H]([C@H](OC(=O)[C@@H]1O)C(=O)O)O)O
 22        [C@@H]1([C@H]([C@H](OC(=O)[C@@H]1O)C(=O)O)O)O
 6                         C1=CC(=CC=C1C[C@H](C(=O)O)O)O
 9                            C1=CC(=CC=C1CC(=O)C(=O)O)O
 24                        C1=CC(=C(C=C1CC(=O)C(=O)O)O)O
 33                                              C(C=O)N
 26                                 C(=O)[C@@H](C(=O)O)N
 28                                  C([C@@H](C(=O)O)N)O
 36                  C1[C@H](C([C@@H](CC1(C(=O)O)O)O)O)O
 37                   C1[C@H]([C@@H](C(=O)C=C1C(=O)O)O)O
 38              C1[C@H]([C@@H](C(=O)C[C@]1(C(=O)O)O)O)O
 35               C1[C@H]([C@@H]([C@@H](C=C1C(=O)O)O)O)O
 39                                C(CC(=O)O)C(=O)C(=O)O
 58               C(CC(=O)O)[C@@H]([C@H](C(=O)O)O)C(=O)O
 60                         C(C(C(C(=O)O)O)C(=O)O)C(=O)O
 ...                                                 ...
 1149                          C(CC(=O)N)[C@@H](C(=O)O)N
 1728  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1150                          C(CC(=O)N)[C@@H](C(=O)O)N
 1166                          C(CC(=O)O)[C@@H](C(=O)O)N
 1946  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1151                          C(CC(=O)N)[C@@H](C(=O)O)N
 1874                           C([C@@H](C(=O)O)N)C(=O)N
 1871                           C([C@@H](C(=O)O)N)C(=O)O
 1167                          C(CC(=O)O)[C@@H](C(=O)O)N
 2137                                 C(=O)(O)OP(=O)(O)O
 1692                                 C(=O)(N)OP(=O)(O)O
 1688                                          C(=O)(N)O
 1152                          C(CC(=O)N)[C@@H](C(=O)O)N
 1683                                       C(=O)(O)[O-]
 1168                          C(CC(=O)O)[C@@H](C(=O)O)N
 1379                                               none
 1380                                               none
 2072                                               none
 1716  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1729  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1381                                               none
 1730  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1717  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 1382                                               none
 1718  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 2073                                               none
 1731  C1=NC2=C(N1[C@H]3[C@@H]([C@@H]([C@H](O3)COP(=O...
 2142      CC1=C(C(=C(C(=C1O)OC)OC)O)C/C=C(\C)/CCC=C(C)C
 2141                                               none
 2143     CC1=C(C(=O)C(=C(C1=O)OC)OC)C/C=C(\C)/CCC=C(C)C

 [2068 rows x 5 columns],
 ['3371',
  '3526',
  '4627',
  '4764',
  '17396586',
  '17396584',
  '96023258',
  '96023257',
  '96023254',
  '96023253',
  '96023256',
  '96023255',
  '135626278',
  '135626279',
  '7881',
  '7880',
  '8711',
  '17396499',
  '17396498',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '135626312',
  '17396588',
  '172232403',
  '5930',
  '6046',
  '350078274',
  '350078276',
  '350078273',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '3936',
  '3931',
  '3931',
  '3936',
  '3439',
  '3438',
  '3931',
  '3936',
  '3439',
  '3438',
  '3438',
  '3439',
  '3439',
  '3438',
  '3439',
  '3438',
  '3439',
  '3438',
  '3438',
  '3439',
  '3439',
  '3438',
  '3931',
  '3936',
  '3439',
  '3438',
  '4242',
  '4245',
  '336445168',
  '336445170',
  '336445167',
  '4245',
  '336445169',
  '4242',
  '14292',
  '4245',
  '4242',
  '254741478',
  '254741479',
  '4242',
  '4245',
  '4245',
  '4242',
  '4245',
  '4242',
  '4245',
  '4242',
  '4242',
  '336445167',
  '4245',
  '4245',
  '4242',
  '336445169',
  '3438',
  '3439',
  '336445167',
  '3439',
  '3438',
  '4242',
  '4245',
  '4245',
  '4242',
  '4242',
  '4245',
  '4245',
  '336445169',
  '336445167',
  '4242',
  '5930',
  '6046',
  '6046',
  '5930',
  '4242',
  '4245',
  '6046',
  '5930',
  '3438',
  '3439',
  '4245',
  '4242',
  '3438',
  '3439',
  '7734',
  '7735',
  '340125640',
  '328082950',
  '340125643',
  '96024377',
  '3426',
  '3425',
  '17396594',
  '17396595',
  '3438',
  '3439',
  '6918',
  '7171',
  '3438',
  '3439',
  '3426',
  '3425',
  '3425',
  '3426',
  '3636',
  '5929',
  '3635',
  '6627',
  '5741',
  '3887',
  '315431311',
  '6828',
  '315431312',
  '3887',
  '6828',
  '350078249',
  '350078250',
  '350078252',
  '350078251',
  '3341',
  '6549',
  '6915',
  '5703',
  '4730',
  '96023244',
  '7070',
  '7272',
  '6622',
  '315431316',
  '315431317',
  '6902',
  '5130',
  '340125666',
  '3342',
  '340125665',
  '340125667',
  '329728080',
  '329728081',
  '329728079',
  '4794',
  '5136',
  '329728078',
  '96023263',
  '4794',
  '5136',
  '328082930',
  '328082931',
  '328082929',
  '254741191',
  '7462',
  '7362',
  '7362',
  '135626269',
  '135626270',
  '135626271',
  '5260',
  '6747',
  '254741326',
  '8311',
  '340125667',
  '340125665',
  '340125666',
  '5260',
  '135626270',
  '333497482',
  '333497484',
  '333497483',
  '5930',
  '6046',
  '9490',
  '47205174',
  '9491',
  '3341',
  '5330',
  '3501',
  '124489752',
  '124489757',
  '5279',
  '124489750',
  '3914',
  '3643',
  '3465',
  '3635',
  '3636',
  '5703',
  '329728063',
  '47205136',
  '47205137',
  '376219005',
  '3426',
  '3425',
  '4998',
  '3712',
  '3360',
  '3465',
  '135626269',
  '135626270',
  '5260',
  '47205322',
  '3887',
  '3371',
  '7130',
  '7224',
  '4416',
  '3462',
  '4266',
  '3360',
  '8030',
  '254741203',
  '8029',
  '5259',
  '5703',
  '3887',
  '5813',
  '3360',
  '3740',
  '4348',
  '3501',
  '17396557',
  '3746',
  '5502',
  '5185',
  '17396556',
  '5502',
  '3746',
  '17396557',
  '5185',
  '17396556',
  '5813',
  '3445',
  '3348',
  '3911',
  '47205545',
  '47205548',
  '3341',
  '3341',
  '3348',
  '3341',
  '3341',
  '3348',
  '7736'])

In [60]:
ugh = ['3371',
  '3526',
  '4627',
  '4764',
  '17396586',
  '17396584',
  '96023258',
  '96023257',
  '96023254',
  '96023253',
  '96023256',
  '96023255',
  '135626278',
  '135626279',
  '7881',
  '7880',
  '8711',
  '17396499',
  '17396498',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '135626312',
  '17396588',
  '172232403',
  '5930',
  '6046',
  '350078274',
  '350078276',
  '350078273',
  '5930',
  '6046',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '5930',
  '6046',
  '6046',
  '5930',
  '5930',
  '6046',
  '3936',
  '3931',
  '3931',
  '3936',
  '3439',
  '3438',
  '3931',
  '3936',
  '3439',
  '3438',
  '3438',
  '3439',
  '3439',
  '3438',
  '3439',
  '3438',
  '3439',
  '3438',
  '3438',
  '3439',
  '3439',
  '3438',
  '3931',
  '3936',
  '3439',
  '3438',
  '4242',
  '4245',
  '336445168',
  '336445170',
  '336445167',
  '4245',
  '336445169',
  '4242',
  '14292',
  '4245',
  '4242',
  '254741478',
  '254741479',
  '4242',
  '4245',
  '4245',
  '4242',
  '4245',
  '4242',
  '4245',
  '4242',
  '4242',
  '336445167',
  '4245',
  '4245',
  '4242',
  '336445169',
  '3438',
  '3439',
  '336445167',
  '3439',
  '3438',
  '4242',
  '4245',
  '4245',
  '4242',
  '4242',
  '4245',
  '4245',
  '336445169',
  '336445167',
  '4242',
  '5930',
  '6046',
  '6046',
  '5930',
  '4242',
  '4245',
  '6046',
  '5930',
  '3438',
  '3439',
  '4245',
  '4242',
  '3438',
  '3439',
  '7734',
  '7735',
  '340125640',
  '328082950',
  '340125643',
  '96024377',
  '3426',
  '3425',
  '17396594',
  '17396595',
  '3438',
  '3439',
  '6918',
  '7171',
  '3438',
  '3439',
  '3426',
  '3425',
  '3425',
  '3426',
  '3636',
  '5929',
  '3635',
  '6627',
  '5741',
  '3887',
  '315431311',
  '6828',
  '315431312',
  '3887',
  '6828',
  '350078249',
  '350078250',
  '350078252',
  '350078251',
  '3341',
  '6549',
  '6915',
  '5703',
  '4730',
  '96023244',
  '7070',
  '7272',
  '6622',
  '315431316',
  '315431317',
  '6902',
  '5130',
  '340125666',
  '3342',
  '340125665',
  '340125667',
  '329728080',
  '329728081',
  '329728079',
  '4794',
  '5136',
  '329728078',
  '96023263',
  '4794',
  '5136',
  '328082930',
  '328082931',
  '328082929',
  '254741191',
  '7462',
  '7362',
  '7362',
  '135626269',
  '135626270',
  '135626271',
  '5260',
  '6747',
  '254741326',
  '8311',
  '340125667',
  '340125665',
  '340125666',
  '5260',
  '135626270',
  '333497482',
  '333497484',
  '333497483',
  '5930',
  '6046',
  '9490',
  '47205174',
  '9491',
  '3341',
  '5330',
  '3501',
  '124489752',
  '124489757',
  '5279',
  '124489750',
  '3914',
  '3643',
  '3465',
  '3635',
  '3636',
  '5703',
  '329728063',
  '47205136',
  '47205137',
  '376219005',
  '3426',
  '3425',
  '4998',
  '3712',
  '3360',
  '3465',
  '135626269',
  '135626270',
  '5260',
  '47205322',
  '3887',
  '3371',
  '7130',
  '7224',
  '4416',
  '3462',
  '4266',
  '3360',
  '8030',
  '254741203',
  '8029',
  '5259',
  '5703',
  '3887',
  '5813',
  '3360',
  '3740',
  '4348',
  '3501',
  '17396557',
  '3746',
  '5502',
  '5185',
  '17396556',
  '5502',
  '3746',
  '17396557',
  '5185',
  '17396556',
  '5813',
  '3445',
  '3348',
  '3911',
  '47205545',
  '47205548',
  '3341',
  '3341',
  '3348',
  '3341',
  '3341',
  '3348',
  '7736']

In [61]:
len(ugh)

360

In [62]:
myset = set(ugh)
len(myset)

148

In [57]:
pd.read_csv('../datasets/playground_df_cleaned_kegg_with_smiles.csv')

,Unnamed: 0,entry,KEGG,PubChem,CID,SMILES
0,0,1.1.1.1,C00071,3371,none,none
1,2,1.1.1.1,C00226,3526,none,none
2,3,1.1.1.1,C01450,4627,none,none
3,4,1.1.1.1,C01612,4764,none,none
4,5,1.1.1.110,C03964,6685,440177,C1=CC(=CC=C1C[C@H](C(=O)O)O)O
5,7,1.1.1.110,C00331,3625,803,C1=CC=C2C(=C1)C(=CN2)CC(=O)C(=O)O
6,8,1.1.1.110,C01179,4406,979,C1=CC(=CC=C1CC(=O)C(=O)O)O
7,11,1.1.1.110,C05607,7930,643327,C1=CC=C(C=C1)C[C@H](C(=O)O)O
8,16,1.1.1.153,C02953,5871,135398687,C[C@@H]([C@@H](C1=NC2=C(NC1)N=C(NC2=O)N)O)O
9,14,1.1.1.153,C00835,4093,135398579,C[C@@H](C(=O)C1=NC2=C(NC1)N=C(NC2=O)N)O
10,12,1.1.1.153,C03684,6459,135398695,CC(=O)C(=O)C1CNC2=C(N1)C(=O)NC(=N2)N
11,17,1.1.1.153,C00272,3570,135398654,C[C@@H]([C@@H]([C@H]1CNC2=C(N1)C(=O)NC(=N2)N)O)O
12,18,1.1.1.187,C02977,5888,135398688,C[C@@H]1[C@@H]([C@@H]([C@@H]([C@H](O1)OP(=O)(O...
13,19,1.1.1.187,C03117,6011,135398578,C[C@@H]1[C@H]([C@@H]([C@@H]([C@H](O1)OP(=O)(O)...
14,20,1.1.1.187,C01222,4444,135398621,C[C@@H]1C(=O)[C@@H]([C@@H]([C@H](O1)OP(=O)(O)O...
15,23,1.1.1.203,C20890,254741353,46926211,[C@@H]1([C@@H]([C@H](OC(=O)[C@@H]1O)C(=O)O)O)O
16,22,1.1.1.203,C20889,254741352,53321658,[C@@H]1([C@H]([C@H](OC(=O)[C@@H]1O)C(=O)O)O)O
17,6,1.1.1.237,C03964,6685,440177,C1=CC(=CC=C1C[C@H](C(=O)O)O)O
18,9,1.1.1.237,C01179,4406,979,C1=CC(=CC=C1CC(=O)C(=O)O)O
19,24,1.1.1.237,C04045,6746,165198,C1=CC(=C(C=C1CC(=O)C(=O)O)O)O
20,33,1.1.1.276,C06735,8957,363,C(C=O)N
21,26,1.1.1.276,C11822,13986,443424,C(=O)[C@@H](C(=O)O)N
22,28,1.1.1.276,C00065,3365,5951,C([C@@H](C(=O)O)N)O
23,36,1.1.1.282,C00296,3590,6508,C1[C@H](C([C@@H](CC1(C(=O)O)O)O)O)O
24,37,1.1.1.282,C02637,5617,439774,C1[C@H]([C@@H](C(=O)C=C1C(=O)O)O)O
25,38,1.1.1.282,C00944,4196,439351,C1[C@H]([C@@H](C(=O)C[C@]1(C(=O)O)O)O)O
26,35,1.1.1.282,C00493,3776,8742,C1[C@H]([C@@H]([C@@H](C=C1C(=O)O)O)O)O
27,39,1.1.1.286,C00026,3328,51,C(CC(=O)O)C(=O)C(=O)O
28,58,1.1.1.286,C05662,7972,5460287,C(CC(=O)O)[C@@H]([C@H](C(=O)O)O)C(=O)O
29,60,1.1.1.286,C00311,3605,1198,C(C(C(C(=O)O)O)C(=O)O)C(=O)O
30,57,1.1.1.286,C00322,3616,71,C(CC(=O)C(=O)O)CC(=O)O
31,64,1.1.1.287,C00309,3603,439203,C1[C@H]([C@H](C(O1)(CO)O)O)O
32,63,1.1.1.287,C01904,5013,94154,C([C@H](C([C@@H](CO)O)O)O)O
33,65,1.1.1.287,C00310,3604,439204,C1[C@H]([C@@H](C(O1)(CO)O)O)O
34,69,1.1.1.297,C11937,14098,443522,CC(=C)[C@@H]1CC[C@](C(=O)C1)(C)O
35,66,1.1.1.297,C19082,124489754,11217495,CC(=C)[C@H]1CC[C@@]([C@@H](C1)O)(C)O
36,70,1.1.1.297,C18020,96024240,94217,CC(=C)C1CCC(C(C1)O)(C)O
37,71,1.1.1.297,C07276,9485,441246,CC(=C)[C@@H]1CC[C@]([C@H](C1)O)(C)O
38,67,1.1.1.297,C18019,96024239,262800,CC(=C)C1CCC(C(=O)C1)(C)O
39,72,1.1.1.324,C17622,96023966,11073781,C/C(=C\C=O)/CC/C=C(\C)/C=O
40,73,1.1.1.324,C20223,163311966,11412603,C/C(=C\CO)/CC/C=C(\C)/C=O
41,74,1.1.1.324,C17621,96023965,5363397,C/C(=C\CO)/CC/C=C(\C)/CO
42,75,1.1.1.324,C20222,163311965,13895495,C/C(=C\C=O)/CC/C=C(\C)/CO
43,13,1.1.1.325,C03684,6459,135398695,CC(=O)C(=O)C1CNC2=C(N1)C(=O)NC(=N2)N
44,15,1.1.1.325,C00835,4093,135398579,C[C@@H](C(=O)C1=NC2=C(NC1)N=C(NC2=O)N)O
45,76,1.1.1.325,C20264,163312004,135474330,C[C@@H]([C@H](C1CNC2=C(N1)C(=O)NC(=N2)N)O)O
46,77,1.1.1.325,C20263,163312003,135407943,C[C@@H]([C@H](C1=NC2=C(NC1)N=C(NC2=O)N)O)O
47,78,1.1.1.352,C20502,172232251,25202155,CC(=O)CCC[C@@H](C1=C(C=C2C(=C1O)C(=O)C3=C(C=C(...
48,79,1.1.1.352,C20500,172232249,25203397,C[C@@H](CCC[C@@H](C1=C(C=C2C(=C1O)C(=O)C3=C(C=...
49,81,1.1.1.352,C20501,172232250,25201116,C[C@H](CCC[C@@H](C1=C(C=C2C(=C1O)C(=O)C3=C(C=C...